<!DOCTYPE html>
<html>
<head>
  <title>Magic 8 Ball</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Magic 8 Ball</h1>
    <p>Ask a question, then click the ball for an answer</p>
    <div class="eight-ball" id="magicBall">
      <div class="eight-ball-inner">
        <span>8</span>
      </div>
    </div>
    <div class="answer-container">
      <p id="answer">Ask the Magic 8 Ball a question...</p>
    </div>
    <div class="spotify-section">
      <button id="spotifyButton" class="spotify-button">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/1024px-Spotify_logo_without_text.svg.png" alt="Spotify Logo" class="spotify-logo">
        Connect to Spotify
      </button>
      <div id="spotifyStatus" class="spotify-status"></div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>